.time-item {
	display: flex;
	width: 100%;
	text-align: center;
	font-weight: bold;
	border-left: 2px solid black;
	border-bottom: 1px solid black;
}
.time-item .time-cell { /*6,060606060606061*/
	width: 9.090909090909091%;
	display: flex;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.time-item .day-col {
	width: 18.181818181818183%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-right: 2px solid black;
}
.time-item .day-col-item {
	display: flex;
	min-height: 33px;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid black;
}
.time-item .day-col .text-cell {
}
.time-item .day-col .group-cell {
	width: 33.333333333333333%;
}
.time-item .day-col .day-cell {
	width: 66.666666666666666%;
	background-color: #ffe000;
	flex-direction: column;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
}
